<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-light mynav">
        <div class="container" style="margin-left:10%; margin-right:10%">
            @*brand*@
            <a class="navbar-brand" href="#"> <img src="~/Content/Icons/logo_softheme.svg" class="new-img" width="30" height="30" alt=""> SOFTHEME VOCATIONS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @*collapse*@
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto centr">
                    @*link1*@
                    <li class="nav-item">
                        <a id="lined" class="nav-link" href="#">My Profile</a>

                    </li>
                    @*link2*@
                    <li class="nav-item">
                        <a id="lined" class="nav-link" href="#">Request Vacation</a>
                    </li>
                </ul>
            </div>
            @*photo*@
            <div style="right:0; color:#878787">
                Admin
                <img src="~/Content/Icons/user_profile_icon.svg" class="new-img" width="30" height="30" alt="" style="margin: 10px;">


            </div>
        </div>
    </nav>



    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/Scripts/Site.js")
    @RenderSection("scripts", required: false)
    @*</div>*@
</body>
</html>
